<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>{{title}}</title>

    <style type="text/css">
        .column {
            float: left;
            padding: 115px;
            height: 89mm;
            width: 64mm;
        }
        .col {
            float: left;
            padding: 50px;

        }
        .main-container {
            float: left;
            position: relative;
            left: 50%;
        }
        .fixer-container {
            float: left;
            position: relative;
            left: -50%;
        }
    </style>

    <script type="text/javascript">
        function BackToProfile() {
            window.location.href = `/save-score`
        }
    </script>
</head>

<body background="https://us.123rf.com/450wm/yamabikay/yamabikay1612/yamabikay161200085/69448418-poker-table-felt-background-high-resolution-photo-.jpg?ver=6">

<div class="main-container">
    <div class="fixer-container">
    <div class="column">
        <img src={{card}} class="card1" alt="card1" style="width:100%">
    </div>

    <div class="column" style="color:#000000;font-family: 'Montserrat';font-size: 15pt">
        <h2 style="color: whitesmoke">Bigger or Smaller</h2>
        <h4>1.Press "New Game"
            <br>2.Decide if the card on the right is bigger or smaller compared to your current card
            <br> 3.Suits not calculated <br> 4.Guessed card is your new Card
            <br>5. Have fun
        </h4><br>

        <div class="row">
            <div class="col1">
                <h4 style="text-align: center;color: whitesmoke">Score: {{score}} Points</h4>
            </div>
            <div class="col1">
                <h4 style="text-align: center;color: whitesmoke">Remaining Cards: {{remaining}}</h4>
            </div>
            <div class="col1">
                <h4 style="text-align: center;color: rgb(182, 0, 0);">{{game_state}}</h4>
            </div>
        </div>
    </div>

    <div class="column">
        <img src={{card2}} class="card2" alt="card2" style="width:100%">
    </div>
</div>
</div>

<div class="main-container">
    <div class="fixer-container">
    <!--back button-->
    <div class="col">
        <button style="cursor: pointer;background-color:rgba(0,0,0,0);color:rgb(182, 0, 0);border: 2px solid #e54931;font-size: 20pt;border-radius: 8px" onclick="BackToProfile()">Back to Profile</button>
    </div>
    <!--smaller button-->
    <div class="col">
        <form class="container" id="form1" method="POST" action="/smaller">
            <input style="cursor: pointer;background-color:rgba(0,0,0,0);color:whitesmoke;border: 2px solid whitesmoke;font-size: 15pt;border-radius: 8px" type="submit" value="Smaller(+5)" {{smaller}}>
        </form>
    </div>

    <!--tie button-->
    <div class="col">
        <form class="container" id="form1" method="POST" action="/tie">
            <input style="cursor: pointer;background-color:rgba(0,0,0,0);color:whitesmoke;border: 2px solid whitesmoke;font-size: 15pt;border-radius: 8px" type="submit" value="Tie(+15)" {{tie}}>
        </form>
    </div>

    <!--bigger button-->
    <div class="col">
        <form class="container" id="form1" method="POST" action="/bigger">
            <input style="cursor: pointer;background-color:rgba(0,0,0,0);color:whitesmoke;border: 2px solid whitesmoke;font-size: 15pt;border-radius: 8px" type="submit" value="Bigger(+5)" {{bigger}}>
        </form>
    </div>

    <!--newgame button-->
    <div class="col">
        <form class="container" id="form1" method="POST" action="/newgame">
            <input style="background-color:rgba(0,0,0,0);color:rgb(182, 0, 0);border: 2px solid #e54931;font-size: 20pt;border-radius: 8px;cursor: pointer;"
                   type="submit" value="New Game">
        </form>
    </div>
</div>
</div>

</body>

</html>